extends ../layout

block content
    include ../mixins/articleCard
    div.article-header
        div.article-header-title Heres whats new
        div
            if user && user.is('author')
                a.button.primary(href= '/articles/add') Write New Article

    ul.article-list
        each article in articles
            li
                +articleCard(article)